body {
	background-color: #ccffcc;
}

h1 {
	text-align:center;
	color:navy;
}

h5 {
	text-align:center;
	color:green;
}

.center {
	margin: auto;
	width: 90%;
	border: 3px solid green;
	padding: 10px;
}
.amelias-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.amelias-menu li {
  float: left;
}

.amelias-menu li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
