h1 {color: purple; 
	font-family:cursive; 
	font-size: 300%;
	text-align:center;}
h6 {color:crimson;
    font-family: cursive;
    font-size: 300%;}
p {color:#ff0080;
	
   font-family: 'Grenze Gotisch', cursive;
	font-size: 300%}
h2 {color:indigo  ;
	font-size:300%;
	font-family:cursive; }
body {background-color: lavender;}

ul li {color:navy;
	font-family:cursive;
	font-size: 150%;
	margin:100px;}
.hoverlink:link{color:navy;text-decoration: none;}
.hoverlink:visited{color:navy;text-decoration: none;}
.hoverlink:hover{text-decoration: underline;}	

.colorpictures{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:65%;}	

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 65%;
  margin-right: auto;
	margin-left: auto;
	
}

td, th {
  border: 1px solid navy;
  text-align: left;
  padding: 8px;
}


.menu ul li {
 float: left;
 list-style: none;
 margin-right: 1em; 
}
 
.menu li a {
 color: #544738;
 text-decoration: none;
 float: left;
 font-size: 25px;
 padding: 12px;
}
 
.left a:hover {
 
 /*Transition*/ 
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 
 /*Transform*/ 
 -webkit-transform: rotate(-10deg) scale(1.2);
 -moz-transform: rotate(-10deg) scale(1.2);
 -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
 /*Transition*/ 
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 
 /*Transform*/ 
 -webkit-transform: rotate(10deg) scale(1.2);
 -moz-transform: rotate(10deg) scale(1.2);
 -o-transform: rotate(10deg) scale(1.2);
}
