body {
	background-color: maroon
;
}

p{
	color:red;
}

.redtext{
	color:red;
}
.centerimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.title{
	color: silver;
	text-align: center;
}




.listimage{
	width: 20%;
}

ul li h4{
	margin-bottom: 20px;
	color: silver;
}
